:root {
  --main-bg: rgb(30, 30, 30);
  --sec-bg: rgb(65, 65, 65);
  --box-bg: rgb(24, 24, 24);
  --box-bg: #111;

  --main-clr: #fff;
  --el-clr: #fff;
  --sec-clr: rgb(180, 180, 180);
  --hint-wrong-clr: red;
  --hint-right-clr: green;
  --hint-letters-clr: rgb(88, 88, 240);
  --hint-reminder-clr: gold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}
.hint span {
  color: var(--main-clr);
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  height: 100dvh;
  background-color: var(--main-bg);
  color: var(--main-clr);
  font-family: 'Montserrat';
  transition: background-color 0.3s;
}
html[data-theme='light'] {
  --main-bg: whitesmoke;
  --sec-bg: linear-gradient(45deg, #00f260, #0575e6);
  --sec-bg: teal;
  --box-bg: #fff;

  --main-clr: black;
  --sec-clr: black;
  --hint-letters-clr: rgb(255, 0, 179);
  --hint-reminder-clr: #0575e6;
}
html[data-theme='light'] .container {
  box-shadow: 0 0 30px rgb(180, 180, 180);
}

.container {
  background: var(--box-bg);
  border-radius: 6px;
  width: 800px;
}
@media screen and (max-width: 810px) {
  .container {
    width: 95vw;
  }
}
@media screen and (max-width: 480px) {
  body {
    display: flex;
    place-content: center;
    place-items: start;
  }
  .container {
    margin-top: 5rem;
  }
}
