:root {
  --main-bg: rgb(40, 40, 40);
  --sec-bg: rgb(65, 65, 65);
  --box-bg: rgb(24, 24, 24);

  --main-clr: #fff;
  --sec-clr: rgb(180, 180, 180);

  --hint-wrong-clr: red;
  --hint-right-clr: green;
  --hint-letters-clr: rgb(88, 88, 240);
  --hint-reminder-clr: gold;
}

* {
  color: var(--main-clr);
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: var(--main-bg);
  font-family: 'Open Sans', sans-serif;
}
.container {
  background: var(--box-bg);
  border-radius: 6px;
  width: 800px;
}
@media screen and (max-width: 810px) {
  .container {
    width: 90vw;
  }
}
@media screen and (max-width: 480px) {
  body {
    display: flex;
    place-content: center;
    place-items: start;
  }
  .container {
    margin-top: 3rem;
  }
}
